<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>snapshots</id>
      <username>admin</username>
      <password>password</password>
    </server>
    <server>
      <id>central</id>
      <username>admin</username>
      <password>password</password>
    </server>
  </servers>
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>remote-repos</name>
      <url>http://192.168.99.100:8081/artifactory/remote-repos</url>
      <id>remote-repos</id>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>artifactory</id>
      <properties>
      	<dist.release.url>http://192.168.99.100:8081/artifactory/libs-release-local</dist.release.url>
        <dist.snapshot.url>http://192.168.99.100:8081/artifactory/libs-snapshot-local</dist.snapshot.url>
      </properties>
      <repositories>
        <repository>
          <id>central</id>
          <name>libs-release</name>
          <url>http://192.168.99.100:8081/artifactory/libs-release</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>http://192.168.99.100:8081/artifactory/libs-snapshot</url>
          <snapshots />
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <name>plugins-release</name>
          <url>http://192.168.99.100:8081/artifactory/plugins-release</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
        <pluginRepository>
          <id>snapshots</id>
          <name>plugins-snapshot</name>
          <url>http://192.168.99.100:8081/artifactory/plugins-snapshot</url>
          <snapshots />
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
